# Zavisnosti i build artefakti
node_modules
dist
dist-ssr
.vite

# Git i CI
.git
.gitignore
.github

# Docker
#Dockerfile
.dockerignore
docker-compose*.yml

# Okruzenje i tajne
.env
.env.*

# Logovi i cache
*.log
npm-debug.log*
.npm
.eslintcache

# Alati i editor
.claude
.vscode
.idea
.DS_Store
